/* Body. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 10px 20px;
    background-color: #dddde0;
}

/* Links. */

a {
    color: #FFFAC6;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Window. */

#window {
    border: #000 1px solid;
    background-color: #fff;
    padding: 7px;
    width: 98%;
}

/* Page title. */

#pageTitle {
    background-color: #097099;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 5px;
    width: 99%;
    font-weight: bold;
}

/* Menu. */

#menu {
    background-color: #094069;
    color: #fff;
    text-align: left;
    padding: 5px 0 5px 5px;
    width: 99%;
    height: auto;
    text-decoration: none;
}

#menuWelcome {
    font-weight: bold;
}

#menuSearch span, #menuGroups a {
    color: #fffac6;
}

#menuLinks {
    color: #fffac6;
    float: right;
}

/* Content. */

#content {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

    #content a {
        color: #000080;
    }

p.info {
    font-size: 16px;
}

/* Forms. */

form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

    form textarea {
        height: 96px;
        width: 251px;
    }

div.field {
    clear: both;
    padding-top: 1em;
    width: 100%;
}

    div.field span.label {
        float: left;
        text-align: right;
        font-weight: bold;
        vertical-align: middle;
        padding-top: 0.3em;
        width: 49.5%;
    }

    div.field span.entry {
        float: right;
        text-align: left;
        width: 49.5%;
    }

div.checkbox {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

div.button {
    clear: both;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}

input, select, textarea {
    background-color: #f4f4f4;
    margin-left: 0px;
    height: 20px;
}

/* Error messages. */

.errorMessage {
    font-weight: bold;
    color: red;
    margin-left: 5px;
}

/* Footer. */

#footer {
    border-top: 1px solid #000;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.previusNextLinks a {
    margin-right: auto;
}